.MMM-Birthdays .birthday-container {
	width: 100%;
	text-align: left;
}

.MMM-Birthdays .birthday-table {
	width: 100%;
	border-collapse: collapse;
}

.MMM-Birthdays .birthday-name,
.MMM-Birthdays .birthday-date {
	padding: 3px 5px;
}

.MMM-Birthdays .birthday-date {
	text-align: right;
	white-space: nowrap;
}

.MMM-Birthdays .birthday-today .birthday-name::before {
	content: "🎂 ";
}
